    <app-header></app-header>
	<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-3">InCashMe sample applications</h1>
    <p class="lead">Listing of Products</p>
    <hr class="my-2">
    </div>
    </div>
	
	    <div class="container-fluid">
    <!-- <app-products>Loading</app-products> 							-->
	<!-- <app-add-product-model>Loading</app-add-product-model> 		-->
	<!-- <app-add-product-template>Loading</app-add-product-template>	-->
			<router-outlet></router-outlet>	
    </div>